$lightblue:#C7F7FF;
$medblue:#89C0C9;
$darkblue:#3a5E63;
$lightbrown:#C9A689;
$darkbrown:#7C593C;
$lightgrey:#d4d4d4;
$darkgrey:#222;
$white: #fff;

$font_0: Josefin Sans;
$font_1: Trebuchet MS;
$font_2: Helveica;
$font_3: sans-serif;
$font_4: Cardo;
$font_5: Palatino Linotype;
$font_6: Book Antiqua;
$font_7: Palatino;
$font_8: serif;